
@{
    ViewData["Title"] = "AboutMe";
}

<h1>AboutMe</h1>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Age</td>
    </tr>
    <tr>
        <td>Vicran</td>
        <td>Kathmandu</td>
        <td>21</td>
    </tr>
</table>
