@model List<PersonalDetails>
@{
    ViewData["Title"] = "Persons";
}

<h1>Persons</h1>

<table border="1">
    <thead>
        <tr>
            <th>PersonalDetailsID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Speciality</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonalDetailsID</td>
                <td>@item.FirstName</td>
                <td>@item.Address</td>
                <td>@item.Occupation</td>
            </tr>
        }
    </tbody>
</table>




